
.box 
{
     border-radius: 8px;
            marquee-direction: backwards;
            box-shadow: 6px 6px 5px #888888;
}

 .GVFixedHeader
        {
            font-weight: bold;
            background-color: Green;
            position: relative;
            top: expression(this.parentNode.parentNode.parentNode.scrollTop-1);
        }
        
         .mGridd
        {
            width: 100%;
            background-color: #fff;
            margin: 5px 0 10px 0;
            border: solid 1px #525252;
            border-collapse: collapse;
        }
        .mGridd td
        {
            padding: 2px;
            border: solid 1px #c1c1c1;
        }
        .mGridd th
        {
            padding: 4px 2px;
            color: black;
            background: #afdd92 url(grd_head.png) repeat-x top;
            border-left: solid 1px #525252;
            font-size: 0.9em;
            text-align: center;
        }
        .mGridd .alt
        {
            background: #fcfcfc url(grd_alt.png) repeat-x top;
        }
        .mGridd .pgr
        {
            background: #0097AC url(grd_pgr.png) repeat-x top;
        }
        .mGridd .pgr table
        {
            margin: 5px 0;
        }
        .mGridd .pgr td
        {
            border-width: 0;
            padding: 0 6px;
            border-left: solid 1px #666;
            font-weight: bold;
            color: #fff;
            line-height: 12px;
        }
        .mGridd .pgr a
        {
            color: #666;
            text-decoration: none;
        }
        .mGridd .pgr a:hover
        {
            color: #000;
            text-decoration: none;
        }
        .GVdd
        {
            border: 1px solid #1E90FF;
            border-radius: 4px;
            margin: 2px;
            font-family: Andalus;
            background-image: url('css/download%20(2).png');
            background-position: 88px;
            background-repeat: no-repeat;
            text-indent: 0.01px; /*In Firefox*/
            text-overflow: ''; /*In Firefox*/
        }
        
        .headcolor
{
background: #D8EAEB;
}
.headercolor2
{
    background:#F1FFE6;
}


    .textlabel
        {
           border: 1px solid #ffffFF;
           background-color:white;
            border-radius: 4px;
            margin: 2px;
            width: 90px;
            text-align: center;
            background-image: url('css/download%20(2).png');
            background-position: 88px;
            background-repeat: no-repeat;
            text-indent: 0.01px; /*In Firefox*/
        }

        html, body{
  margin:0;
  padding:0;
  height:100%;
}
section {
  position: relative;
  padding-top: 37px;
 
}
section.positioned {
  position: absolute;
  top:100px;
  left:100px;
  width:800px;
  box-shadow: 0 0 15px #333;
}
.container {
  overflow-y: auto;
  height: 250px;
    width:80%;

}
table {
  border-spacing: 0;
  width:100%;
}
td + td {
  border-left:1px solid #eee;
}
 th {
  border-bottom:1px solid #eee;
  padding: 10px 25px;
}
th {
  height: 0;
  line-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: transparent;
  border: none;
  white-space: nowrap;
}
th div{
  position: absolute;
background-color: rgb(217, 231, 155);
  color: black;
  padding: 18px 25px;
  top: 0;
  margin-left: -25px;
  line-height: normal;

  width:12%;
}
th:first-child div{
  border: none;
}
       
        


body {
}
