/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  color: #1B1B21;
 
}
body {
  color: #545051;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

@font-face {
    font-family:RusticLoveTattoo;
    src: url(../fonts/RusticLoveTattoo.otf);
}

.selector-for-some-widget {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
a:hover { text-decoration: none }



/* Header bar section start */

.page-main-iiner {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
}
.page-main-iiner {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.page-main-wrp {
	max-width: 100%;
	margin: 0 auto;
	background-size: cover;
	background-position: center;
	height: 100vh;
}
.form-blk {
  background: #fff;
  padding: 60px;
  border-radius: 20px;
}
.form-blk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.form-main-ft {
	max-width: 50%;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	padding: 0 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 560px;
}
.form-blk {
	position: relative;
	-webkit-box-shadow: 0 8px 20px #2156d38f;
	box-shadow: 0 8px 20px #2156d38f;
}
.form-blk::after {
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 100%;
	background-image: url(../img/bg-left.jpg);
	content: "";
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-size: cover;
	background-position: center center;
}
.form-main-inner-blk-left {
  position: relative;
  z-index: 1;
}
.form-main-inner-blk-left h1 {
  font-size: 52px;
  font-weight: 700;
  color: #fff;
}


.form-main-all {
}
.form-main-all {
  padding-left: 40px;
  padding-right: 40px;
}
.form-main-all h2 {
  color: #565656;
  font-size: 38px;
  font-weight: 700;
}
.inpt-blk input {
	display: block;
	width: 100%;
	background: #f0f0f0;
	border: none;
	font-size: 14px;
	height: 50px;
	padding: 0 15px;
	border-radius: 7px;
	margin-bottom: 24px;
}
.form-main-inner-blk-rt {
  width: 100%;
}
.inpt-blk button {
  width: 100%;
  height: 50px;
  background: #ff8383;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  border: none;
  border-radius: 7px;
  position: relative;
  cursor: pointer;
}
.inpt-blk button i {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 34px;
  cursor: ;
}

.support-info {
	position: absolute;
	width: 100%;
	left: 0;
	margin-top: 108px;
	padding-left: 26px;
}
.form-main-inner-blk-rt {
  position: relative;
}
.sp-left-blk h4 {
  font-size: 22px;
  color: #A1A1A1;
  font-weight: 600;
  margin-bottom: 8px;
}
.sp-left-blk a {
  color: #A1A1A1;
  font-weight: 600;
  font-size: 22px;
}
.sp-left-rt p {
  color: #A1A1A1;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}
.sp-left-rt img {
  max-width: 132px;
}
.sp-left-rt {
  margin-left: 97px;
}
.page-main-iiner {
  height: ;
}

.lock-ico {
	position: absolute;
	right: -21px;
	top: -187px;
	max-width: 100px;
	width: 66px;
}
/* Header bar section  END */












