/* Reset */
@import url(//codepen.io/chrisdothtml/pen/ojLzJK.css);
/* Main Styles */
.button {
  display: block;
/*  background-color: #c0392b;*/

  background-color: #0CB9ED;
  width: 100px;
  height: 32px;
  line-height: 32px;
  margin-top:27%;
  margin-left:25%;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.button span,
.button .icon {
  display: block;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  
}
.button span {
  width: 72%;
  line-height: inherit;
  font-size:16px;
  
  left: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.button span:after {
  content: '';
  /*background-color: #a53125;*/
  
  background-color: #0CB9ED;
  
  width: 2px;
  height: 70%;
  position: absolute;
  top: 15%;
  right: -1px;
}
.button .icon {
  width: 28%;
  right: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  margin-top:5%;
}
.button .icon .fa {
  font-size: 22px;
  vertical-align: middle;
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
  
}
.button .icon .fa-remove {
  height: 30px;
}
.button .icon .fa-check {
  display: none;
}
.button.success span, .button:hover span {
  left: -72%;
  opacity: 0;
}
.button.success .icon, .button:hover .icon {
  width: 100%;
}
.button.success .icon .fa, .button:hover .icon .fa {
  font-size:22px;
}
.button.success {
  background-color: #27ae60;
}
.button.success .icon .fa-remove {
  display: none;
}
.button.success .icon .fa-check {
  display: inline-block;
}
.button:hover {
  opacity: .9;
}
.button:hover .icon .fa-remove {
  height:30px;
}
.button:active {
  opacity: 1;
}



