#dashboard-navbar .nav-link .badge{
    opacity: 0.5;
}

#dashboard-navbar .nav-link.active .badge{
    opacity: 1;
}

#page {
    background-color: #f5f5f7;
}
.grid-stack{
    padding: 15px;
}
.grid-stack-item-content{
    background-color: #ffff;
    padding: 10px 15px;
    border-radius: 5px;
}

#widgetModal #widgetPreviewerWrapper{
    background-color: #f5f5f7;
}


@media (max-width: 575.98px) {
    .grid-stack-item{
        max-height: 250px;
    }
}


#openAddWidgetModal.disabled{
    pointer-events:visible;
    cursor: not-allowed !important;
}

.grid-stack-static .widget-toolbar-options{
    display: none;
}

label.error{
    color: red;
}
.widget-toolbar-options{
    display: none;
}

.grid-stack-item-content:hover .widget-toolbar-options{
    display: block;
}
.widget-filter-wrapper {
    max-height: 85%;
    overflow-y: auto;
    position: absolute;
    right: 10px;
    z-index: 9;
    max-width: 100%;
    width: 350px;
}
.widget-toolbar-options .dropdown-toggle::after {
    content: none !important;
}

.widget[data-chart="table"] .widget-filter-option{
    display:none;
}
.lds-ring-container {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1px);
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

    .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid #0d6efd;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #0d6efd transparent transparent transparent;
    }

        .lds-ring div:nth-child(1) {
            animation-delay: -0.45s;
        }

        .lds-ring div:nth-child(2) {
            animation-delay: -0.3s;
        }

        .lds-ring div:nth-child(3) {
            animation-delay: -0.15s;
        }

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.bootstrap-select {
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.dropdown-toggle-no-arrow::after {
    content: none !important;
}


.page-loader {
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    z-index: 100000;
}

.page-loader .loader__element {
    height: 3px;
    width: 100%;
}

.page-loader .loader__element:before {
    content: '';
    display: block;
    background-color: var(--bs-primary);
    height: 3px;
    width: 0;
    animation: getWidth 1s infinite;
}

@keyframes getWidth {
    100% {
        width: 100%;
    }
}

.text-singleline {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.navbar-brand .dropdown.bootstrap-select {
    background-color: rgba(255,255,255,.1);
    /*border: none;*/
    padding: 0px;
}
.navbar-brand .dropdown.bootstrap-select .btn.dropdown-toggle {
    background-color: transparent;
    color: white;
    border: none;
}
.breadcrumb-item .dropdown.bootstrap-select {
    background-color: rgba(255,255,255,.1);
    border: 0px;
    padding: 0px;
    width:auto !important;
}

.breadcrumb-item .dropdown.bootstrap-select .btn.dropdown-toggle {
    background-color: transparent;
    border: 0px;
    padding: 0px;
    margin-top:-10px;
}
#dashboardWrapper {
    background-color: #f5f5f7;
}