/* Begin - Calender*/
.cal_Theme1 .ajax__calendar_container {
    /*background-image: linear-gradient(to top, rgb(0, 119, 255) 0%, rgb(40, 181, 224) 100%);*/
    background-color: #66baf2;
    border: solid 1px #007bff;
    width: 300px;
    border-radius: 8px;
    height: 217px;
}

.cal_Theme1 .ajax__calendar_header {
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 12px;
}

.cal_Theme1 .ajax__calendar_title {
    color: #FFFFFF;
    padding-top: 3px;
    font-family: inherit;
}

.cal_Theme1 .ajax__calendar_next,
.cal_Theme1 .ajax__calendar_prev {
    color: #FFFFFF;
    padding-top: 3px;
    width: 85px;
    height: 25px;
}

.cal_Theme1 .ajax__calendar_body {
    background-color: #f4f8fa;
    border: solid 1px #007bff;
    width: 300px;
    height: 150px;
    margin-left: -5px;
}

.cal_Theme1 .ajax__calendar_dayname {
    font-family: inherit;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 4px;
    color: #000000;
    padding-left: 5px;
    font-size: 15px;
    margin-left: 20px;
}

.cal_Theme1 .ajax__calendar_day {
    font-family: inherit;
    color: #0077ff;
    text-align: center;
    padding-left: 5px;
    font-size: 12px;
    margin-left: 20px;
}

.cal_Theme1 .ajax__calendar_month,
.cal_Theme1 .ajax__calendar_year {
    font-family: inherit;
    color: #0077ff;
    text-align: center;
    font-size: 14px;
    /*margin-left: 50px;*/
    margin-left: 25px;
}

.cal_Theme1 .ajax__calendar_hover .ajax__calendar_day,
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_month,
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_year,
.cal_Theme1 .ajax__calendar_active {
    color: #000000;
    font-weight: bold;
}

.cal_Theme1 .ajax__calendar_today {
    font-weight: bold;
    color: #FFFFFF;
    font-size: 12px;
    font-family: inherit;
}

.cal_Theme1 .ajax__calendar_other {
    color: #000000;
}

/* Begin - checkbox*/

[type="radio"]:not(:checked), [type="radio"]:checked {
    position: absolute;
    left: -9999px;
}
    [type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
        position: relative;
        padding-left: 2.15em;
        cursor: pointer;
        vertical-align: top;
        line-height: 20px;
        margin: 2px 0;
        display: block;
    }

        [type="radio"]:not(:checked) + label:before, [type="radio"]:checked + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 1.4em;
            height: 1.4em;
            border: 2px solid #ccc;
            background: #fff;
            border-radius: 4px;
            box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
            margin-left: 3px;
        }

    [type="radio"]:checked + label {
        color: #0077ff;
    }
        [type="radio"]:not(:checked) + label:after, [type="radio"]:checked + label:after { 

           content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 1.4em;
            height: 1.4em;
            border: 4px solid #ccc;
            background: #0077ff;
            border-radius: 4px;
            box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
            margin-left: 3px;
             
        }
    /* checked mark aspect changes */
    [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        transform: scale(0);
    }

    [type="radio"]:checked + label:after {
        opacity: 1;
        transform: scale(1);
    }
/* disabled radiobutton */
[type="radio"]:disabled:not(:checked) + label:before, [type="radio"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
    left: .2em;
}

[type="radio"]:disabled:checked + label:after {
    /*top: .4em;*/
    left: .2em;
    color: #0077ff;
}

[type="radio"]:disabled + label {
    color: #0077ff;
}

/*input[type="radio"] {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

.Formatrbtn label {
    margin-right: 30px;
}

input[type="radio"]:checked:before {
    content: "";
    display: block;
    position: relative;
    top: 4px;
    left: 4px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ad094d;
}*/

/* Base for label styling */
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

    [type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label {
        position: relative;
        padding-left: 2.15em;
        cursor: pointer;
        vertical-align: top;
        line-height: 20px;
        margin: 2px 0;
        display: block;
    }

        /* checkbox aspect */
        [type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 1.4em;
            height: 1.4em;
            border: 2px solid #ccc;
            background: #fff;
            border-radius: 4px;
            box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
            margin-left: 3px;
        }

    [type="checkbox"]:checked + label {
        color: #0077ff;
    }

        /* checked mark aspect */
        [type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after { 

           content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 1.4em;
            height: 1.4em;
            border: 4px solid #ccc;
            background: #0077ff;
            border-radius: 4px;
            box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
            margin-left: 3px;

                      /*content: '\25FC';
                      position: absolute;
                      top: .4em;
                      left: .3em;                   
                      font-size: 1.3em;
                      line-height: 0.3; 
                      color: #0077ff;
                      transition: all .2s;*/
                      /* color: #09ad7e;*/
        }
    /* checked mark aspect changes */
    [type="checkbox"]:not(:checked) + label:after {
        opacity: 0;
        transform: scale(0);
    }

    [type="checkbox"]:checked + label:after{
        opacity: 1;
        transform: scale(1);
    }
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before, [type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
    /*left: .2em;*/
}

[type="checkbox"]:disabled:checked + label:after {
    /*top: .4em;
    left: .4em;*/
    color: #0077ff;
}

[type="checkbox"]:disabled + label {
    color: #0077ff;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before, [type="checkbox"]:not(:checked):focus + label:before {
    /*border: 2px dotted blue;*/
}

/* hover style just for information */
label:hover:before {
    border: 2px solid #4778d9 !important;
}

.div_fixed {
    position: fixed;
    top: 400px;
    right: 5px;
}

.checkboxes label {
    display: block;
    float: left;
    font-weight: normal;
    font-family: inherit;
    margin-left: 10px;
}
