body {
}

.home-section-main-body {
    box-shadow: 0 1px 8px rgba(20, 46, 110, 0.1);
    -webkit-box-shadow: 0 1px 8px rgba(20, 46, 110, 0.1);
    -moz-box-shadow: 0 1px 8px rgba(20, 46, 110, 0.1);
    -o-box-shadow: 0 1px 8px rgba(20, 46, 110, 0.1);
    border-radius: 8px;
    background-color: #ffffff;
    padding: 20px;
}


/* Loading */
#loader {
    position: fixed;
    top: 50%;
    right: 50%;
    margin: auto;
}

    #loader .dot {
        bottom: 0;
        height: 100%;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 87.5px;
    }

        #loader .dot::before {
            border-radius: 100%;
            content: "";
            height: 87.5px;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            transform: scale(0);
            width: 87.5px;
        }

        #loader .dot:nth-child(7n+1) {
            transform: rotate(45deg);
        }

            #loader .dot:nth-child(7n+1)::before {
                animation: 0.8s linear 0.1s normal none infinite running load;
                background: #00ff80 none repeat scroll 0 0;
            }

        #loader .dot:nth-child(7n+2) {
            transform: rotate(90deg);
        }

            #loader .dot:nth-child(7n+2)::before {
                animation: 0.8s linear 0.2s normal none infinite running load;
                background: #00ffea none repeat scroll 0 0;
            }

        #loader .dot:nth-child(7n+3) {
            transform: rotate(135deg);
        }

            #loader .dot:nth-child(7n+3)::before {
                animation: 0.8s linear 0.3s normal none infinite running load;
                background: #00aaff none repeat scroll 0 0;
            }

        #loader .dot:nth-child(7n+4) {
            transform: rotate(180deg);
        }

            #loader .dot:nth-child(7n+4)::before {
                animation: 0.8s linear 0.4s normal none infinite running load;
                background: #0040ff none repeat scroll 0 0;
            }

        #loader .dot:nth-child(7n+5) {
            transform: rotate(225deg);
        }

            #loader .dot:nth-child(7n+5)::before {
                animation: 0.8s linear 0.5s normal none infinite running load;
                background: #2a00ff none repeat scroll 0 0;
            }

        #loader .dot:nth-child(7n+6) {
            transform: rotate(270deg);
        }

            #loader .dot:nth-child(7n+6)::before {
                animation: 0.8s linear 0.6s normal none infinite running load;
                background: #9500ff none repeat scroll 0 0;
            }

        #loader .dot:nth-child(7n+7) {
            transform: rotate(315deg);
        }

            #loader .dot:nth-child(7n+7)::before {
                animation: 0.8s linear 0.7s normal none infinite running load;
                background: magenta none repeat scroll 0 0;
            }

        #loader .dot:nth-child(7n+8) {
            transform: rotate(360deg);
        }

            #loader .dot:nth-child(7n+8)::before {
                animation: 0.8s linear 0.8s normal none infinite running load;
                background: #ff0095 none repeat scroll 0 0;
            }

    #loader .lading {
        background-image: url("../images/loading.gif");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        bottom: -40px;
        height: 20px;
        left: 0;
        position: absolute;
        right: 0;
        width: 180px;
    }

@keyframes load {
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

@keyframes load {
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
/* END Loading */

th, td {
    white-space: nowrap;
}

th {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}

    th:first-child {
        border-left: 1px solid #dddddd;
    }

div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
}

.list-group-item a.btn span {
    transform: rotate(-140deg);
    -webkit-transform: rotate(-140deg);
    transition: .3s transform ease-in-out;
}

.list-group-item span {
    cursor: pointer;
    border: solid #222;
    border-width: 0 1px 1px 0;
    transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    transition: .3s transform ease-in-out;
    display: inline;
    padding: 3px;
    position: absolute;
    right: 0;
    /*margin-top: 10px;*/
}

.list-group-item a.collapsed span {
    transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    transition: .3s transform ease-in-out;
}

/*.btn {
    box-shadow: none !important;
    outline: 0;
}

a:link,
a:visited {
    color: #222;
}

a:hover,
a:focus {
    color: blue;
}*/

.list-group-item span {
    /*border: solid #222;
    border-width: 0 1px 1px 0;
    display: inline;
    cursor: pointer;
    padding: 3px;
    position: absolute;
    right: 0;*/
    margin-top: -18px;
}

.list-group-item a.collapsed span {
    transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    transition: .3s transform ease-in-out;
}

.list-group-item a span {
    transform: rotate(-140deg);
    -webkit-transform: rotate(-140deg);
    transition: .3s transform ease-in-out;
}

.box {
    display: -ms-flexbox;
    -ms-flex-direction: column;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.custom-control.custom-checkbox.icon-left {
    padding-left: 3.5rem !important;
}