/*GridViewCSS Soft Grey Style*/
.GridViewStyle
{
    font-family: Arial, Sans-Serif;
    font-size: small;
    table-layout: auto;
    border-collapse: collapse;
    border: 1px solid #FFFFCC;
}
/*Header and Pager styles*/
.HeaderStyle, .PagerStyle /*Common Styles*/
{
    background-color: #DE5959;
    background: #febbbb; /* Old browsers */
    background: -moz-linear-gradient(top,  #febbbb 1%, #fe9090 27%, #ff5c5c 56%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#febbbb), color-stop(27%,#fe9090), color-stop(56%,#ff5c5c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #febbbb 1%,#fe9090 27%,#ff5c5c 56%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #febbbb 1%,#fe9090 27%,#ff5c5c 56%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #febbbb 1%,#fe9090 27%,#ff5c5c 56%); /* IE10+ */
    background: linear-gradient(to bottom,  #febbbb 1%,#fe9090 27%,#ff5c5c 56%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=0 ); /* IE6-9 */
    height: 30px;
}
.HeaderStyle th
{
    padding: 0px;
    color: #FFFFFF;
}
.HeaderStyle a
{
    text-decoration: none;
    color: #16387c;
    display: block;
    text-align: left;
    font-weight: normal;
}
.PagerStyle table
{
    text-align: center;
    margin: auto;
}
.PagerStyle table td
{
    border: 0px;
    padding: 5px;
}
.PagerStyle td
{
    border-top: #91a7b4 1px solid;
}
.PagerStyle a
{
    color: #16387c;
    text-decoration: none;
    padding: 2px 10px 2px 10px;
    border-top: solid 1px #fff;
    border-right: solid 1px #91a7b4;
    border-bottom: solid 1px #91a7b4;
    border-left: solid 1px #fff;
}
.PagerStyle span
{
    font-weight: bold;
    color: #16387c;
    text-decoration: none;
    padding: 2px 10px 2px 10px;
}
/*RowStyles*/
.RowStyle td, .AltRowStyle td, .SelectedRowStyle td, .EditRowStyle td /*Common Styles*/
{
    padding: 5px;
    border-right: solid 1px #91a7b4;
    width:500px;
}
.RowStyle td
{
    background-color: #73343F;
    background: #fcecfc; /* Old browsers */
    background: -moz-linear-gradient(top,  #fcecfc 0%, #fba6e1 37%, #fd89d7 70%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcecfc), color-stop(37%,#fba6e1), color-stop(70%,#fd89d7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fcecfc 0%,#fba6e1 37%,#fd89d7 70%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fcecfc 0%,#fba6e1 37%,#fd89d7 70%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fcecfc 0%,#fba6e1 37%,#fd89d7 70%); /* IE10+ */
    background: linear-gradient(to bottom,  #fcecfc 0%,#fba6e1 37%,#fd89d7 70%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#fd89d7',GradientType=0 ); /* IE6-9 */
}
.AltRowStyle td
{
    background-color: #FFFFFF;
    background-position: 0 -80px;
    background-repeat: repeat-x;
}
.SelectedRowStyle td
{
    background-color: #fcb814;
    background-image: url(../Images/Gridimages/Sprite.gif);
    background-position: center;
    background-repeat: repeat-x;
}

.BlueColorGrd
{
    background: rgba(173,222,255,1);
    background: -moz-linear-gradient(top, rgba(173,222,255,1) 0%, rgba(102,196,255,1) 27%, rgba(50,181,255,1) 41%, rgba(10,169,255,1) 52%, rgba(173,222,255,1) 91%, rgba(173,222,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(173,222,255,1)), color-stop(27%, rgba(102,196,255,1)), color-stop(41%, rgba(50,181,255,1)), color-stop(52%, rgba(10,169,255,1)), color-stop(91%, rgba(173,222,255,1)), color-stop(100%, rgba(173,222,255,1)));
    background: -webkit-linear-gradient(top, rgba(173,222,255,1) 0%, rgba(102,196,255,1) 27%, rgba(50,181,255,1) 41%, rgba(10,169,255,1) 52%, rgba(173,222,255,1) 91%, rgba(173,222,255,1) 100%);
    background: -o-linear-gradient(top, rgba(173,222,255,1) 0%, rgba(102,196,255,1) 27%, rgba(50,181,255,1) 41%, rgba(10,169,255,1) 52%, rgba(173,222,255,1) 91%, rgba(173,222,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(173,222,255,1) 0%, rgba(102,196,255,1) 27%, rgba(50,181,255,1) 41%, rgba(10,169,255,1) 52%, rgba(173,222,255,1) 91%, rgba(173,222,255,1) 100%);
    background: linear-gradient(to bottom, rgba(173,222,255,1) 0%, rgba(102,196,255,1) 27%, rgba(50,181,255,1) 41%, rgba(10,169,255,1) 52%, rgba(173,222,255,1) 91%, rgba(173,222,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#addeff', endColorstr='#addeff', GradientType=0 );
}
.GrayColorGRD
{
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 13%, rgba(255,255,255,1) 23%, rgba(246,246,246,1) 49%, rgba(237,237,237,1) 76%, rgba(237,237,237,1) 89%);
    background: -webkit-gradient(left top, left bottom, color-stop(13%, rgba(255,255,255,1)), color-stop(23%, rgba(255,255,255,1)), color-stop(49%, rgba(246,246,246,1)), color-stop(76%, rgba(237,237,237,1)), color-stop(89%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 13%, rgba(255,255,255,1) 23%, rgba(246,246,246,1) 49%, rgba(237,237,237,1) 76%, rgba(237,237,237,1) 89%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 13%, rgba(255,255,255,1) 23%, rgba(246,246,246,1) 49%, rgba(237,237,237,1) 76%, rgba(237,237,237,1) 89%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 13%, rgba(255,255,255,1) 23%, rgba(246,246,246,1) 49%, rgba(237,237,237,1) 76%, rgba(237,237,237,1) 89%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 13%, rgba(255,255,255,1) 23%, rgba(246,246,246,1) 49%, rgba(237,237,237,1) 76%, rgba(237,237,237,1) 89%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}
