
        .UserDiv
        {
            width: 60%;
            height: 500px; /*  border: 1px solid black;*/
            float: left;
            margin-left: 20px;
        }
        
        .ProcessDiv
        {
            width: 37%;
            height: 500px; /* border-bottom: 1px solid black;
            border-right: 1px solid black;
            border-top: 1px solid black;*/
            float: left;
        }
        
        .ProcessSub_Div
        {
            
          height: 437px;
          border-top:1px solid black;
          border-right:1px solid black;
          border-bottom:1px solid black;
        }
        
        .TitleDiv
        {
            height: 32px;
            background-color: #008080;
            color: White;
            text-align: center;
            font-size: 16px;
            font-family: Times New Roman CE;
            font-weight: bold;
            padding-top:5px;
        }
        .colDiv
        {
            width: 40%;
            height: 30px;
            float: left;
        }
        
        .Textbox
        {
            width: 150px;
            height: 20px;
        }
        
        .dropDown
        {
            height: 24px;
            width: 120px;
        }
        
        #tblProcess td
        {
            padding-top: 5px;
            padding-bottom: 5px;
        }
        
        .Space label
        {
            margin-left: 5px;
            margin-right: 10px;
        }
        .modal
        {
            position: fixed;
            top: 0;
            left: 0;
            background-color: black;
            z-index: 99;
            opacity: 0.8;
            filter: alpha(opacity=80);
            -moz-opacity: 0.8;
            min-height: 100%;
            width: 100%;
        }
        .loading
        {
            font-family: Arial;
            font-size: 10pt;
            border: 5px solid #67CFF5;
            width: 200px;
            height: 100px;
            display: none;
            position: fixed;
            background-color: White;
            z-index: 999;
        }
        
        /* .ui-datepicker
        {
            font-size: 8pt !important;
        }*/
        
        .ui-datepicker .ui-datepicker-title select
        {
            color: #000;
        }
        
        
        
        
        table.tftable
        {
            font-size: 12px;
            color: #333333;
            width: 100%;
            border-width: 1px;
            border-color: #bcaf91;
            border-collapse: collapse;
        }
        
        table.tftable th
        {
            font-size: 12px;
            background-color: #ded0b0;
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #bcaf91;
            text-align: left;
        }
        table.tftable tr
        {
            background-color: #ffffff;
        }
        table.tftable td
        {
            font-size: 12px;
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #bcaf91;
            white-space: nowrap;
        }
        
        table.tftable tbody, table.tftable thead
        {
            display: block;
        }
        table.tftable tbody
        {
            overflow: auto;
            height: 400px;
        }
        
        /*  #main-table
        {
            overflow: auto;
            width: 100%;
            height: 400px;
            border: 1px solid black;
        }*/
        
        
        .headercontainer
        {
            position: relative;
            border: 1px solid #222;
            padding-top: 37px;
            background: #777776;
        }
        
        .tablecontainer
        {
            overflow-y: auto;
            height: 400px;
            background: #fff;
           
        }
        
        .tablecontainer table
        {
            border-spacing: 0;
            width: 100%;
        }
        
        
        .tablecontainer td + td
        {
           /* border-left: 1px solid #eee;*/  
          /* border-left:1px solid #00b2f2;*/
        }
        
        
        .tablecontainer td,th
        {
           /* border-bottom: 1px solid #eee;*/
           border-bottom: 1px solid #00b2f2;
            
            padding: 10px;
        }
        
        
        .tablecontainer th
        {
            height: 0px;
            padding-top: 0;
            padding-bottom: 0;
            line-height: 0;
            visibility: hidden;
            white-space: nowrap;
        }
        
        
        .tablecontainer th div
        {
            visibility: visible;
            position: absolute;
            background: #777776;
            color: #fff;
            padding: 9px 10px;
            top: 0;
            margin-left: 0px;
            line-height: normal;
          /*  border-left: 1px solid #222;*/
        }
        
        th:first-child div
        {
            border: none;
        }
        
        
        .tablecontainer tbody tr:nth-child(even)
        {
            background-color: #ddd;
        }
        
        
        /*---------------------Checkbox--------------------*/
        
        
        .mycheckbox input[type="checkbox"]
        {
            margin-right: 7px;
        }
        
        
        label, input[type="checkbox"]
        {
            line-height: 2.1ex;
        }
        
        input[type=checkbox]
        {
            font-size: 16px;
            position: relative;
            border: 1px solid #262626;
            display: inline-block;
            margin: 0;
            padding: 0;
            width: 1em;
            height: 1em;
            vertical-align: text-top;
            -webkit-appearance: none;
            -webkit-box-shadow: inset 0 2px 5px rgba(0,0,0,0.25);
            -webkit-border-radius: 3px;
            margin-right: 0.5em;
            cursor: pointer;
        }
        
        input[type=checkbox]:checked::after
        {
            content: '';
            position: absolute;
            width: 1.2ex;
            height: 0.4ex;
            background: rgba(0, 0, 0, 0);
            top: 0.5px;
            left: 0.4ex;
            border: 3px solid #228B22;
            border-top: none;
            border-right: none;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
      
       /* Loading Progress Bar */  
        
         @keyframes anim {
         0% { background-position: 0 0; }
         100% { background-position: 50px 50px; }
        }    

         .bar {
          position: absolute;
         /* margin: auto;*/
         margin:350px;
         
          top: 0; bottom: 0; left: 0; right: 0;
          width: 200px;
          height: 30px;
          overflow: hidden;
          background-size:100px 100px;
          background-image: linear-gradient(-45deg,
             #33c9ff 25%, #00b2f2 25%, 
             #00b2f2 50%, #33c9ff 50%,
             #33c9ff 75%, #00b2f2 75%);
          animation: anim 1s linear infinite;
          
        }
        
        
        .bar p {
          width: 100px;
          margin: 6px auto;
          text-align: center;
          color: white;
        }
        
      
        /* End */
      
        
        .ProcessBtn
        {
            background: #25A6E1;
            background: -moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
            background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
            background: -webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
            background: -o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
            background: -ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
            background: linear-gradient(top,#25A6E1 0%,#188BC0 100%);
            filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
            padding: 5px 10px;
            color: #fff;
            font-family: 'Helvetica Neue' ,sans-serif;
            font-size: 15px;
            border-radius: 4px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border: 1px solid #1A87B9;
            cursor: pointer;
        }
        .ProcessBtn:hover
        {
           
            color: black;
        }
  
       
